<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.HospitalMapper">
    
    <resultMap id="bl_hospitalResultMap" type="Hospital">
        <id property="oid" column="oid" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="status" column="status" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="code" column="code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdOn" column="createdOn" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updatedOn" column="updatedOn" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="addOne" parameterType="Hospital" useGeneratedKeys="true" keyProperty="oid">
        INSERT INTO
            bl_hospital
            (name,status,code,createdOn,updatedOn)
        VALUES
            (#{name},#{status},#{code},#{createdOn},#{updatedOn});
    </insert>

    <update id="update" parameterType="Hospital">
        UPDATE
            bl_hospital
        SET
            name = #{name},
            status = #{status},
            code = #{code},
            createdOn = #{createdOn},
            updatedOn = #{updatedOn}
        WHERE
            oid = #{oid};
    </update>




    <select id="findOneByOid" resultMap="bl_hospitalResultMap" parameterType="java.lang.Long">
        SELECT
            *
        FROM
            bl_hospital
        WHERE
            oid = #{oid};
    </select>
    <select id="findOneByCode" resultMap="bl_hospitalResultMap" parameterType="java.lang.String">
        SELECT
            *
        FROM
            bl_hospital
        WHERE
            code = #{code};
    </select>


    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM
            bl_hospital
        WHERE
            oid = #{oid};
    </delete>
    <select id="findAll" resultMap="bl_hospitalResultMap" >
        SELECT
            *
        FROM
            bl_hospital;
    </select>

</mapper>



