<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--1.使用子元素:property + 占位符${} -->
<!--    <properties>-->
<!--        <property name="database.driver" value="com.mysql.jdbc.Driver"/>-->
<!--        <property name="database.url" value="jdbc:mysql://localhost:3306/demo1"/>-->
<!--        <property name="database.username" value="root"/>-->
<!--        <property name="database.password" value="admin13579"/>-->
<!--    </properties>-->
    <!--2.使用resource属性引入外部文件-->
    <properties resource="db/jdbc.properties"></properties>

    <!--驼峰命名转换-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--实体类别名-->
    <typeAliases>
        <!--一次只能配一个类的别名-->
<!--        <typeAlias type="com.example.demo.entity.Hospital" alias="hospital"/>-->
        <!--可以配置包下所有实体类的别名-->
        <package name="com.example.demo.entity"/>
    </typeAliases>

    <typeHandlers>
        <!--单个配置方式-->
<!--        <typeHandler handler="com.example.demo.type.MyTypeHandler" javaType="String" jdbcType="VARCHAR"/>-->
        <!--包扫描方式-->
        <package name="com.example.demo.type"/>
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.example.demo.plug.PrintSqlInterceptor">
            <property name="dialect" value="mysql" />
        </plugin>
    </plugins>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
<!--        &lt;!&ndash;1.文件路径方式&ndash;&gt;-->
<!--        <mapper resource="mybatis/mapper/HospitalMapper.xml"/>-->
<!--        &lt;!&ndash;2.类路径方式&ndash;&gt;-->
<!--        <mapper class="com.example.demo.dao.HospitalMapper"/>-->
<!--        &lt;!&ndash;3.url方式&ndash;&gt;-->
<!--        <mapper url="file:// 前缀 +路径+文件名"/>-->
        <!--4.包扫描方式-->
        <package name="com.example.demo.dao"/>
    </mappers>


</configuration>