<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--驼峰命名转换-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--实体类别名-->
    <typeAliases>
        <package name="com.example.demo.entity"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.example.demo.plug.PrintSqlInterceptor">
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/demo1"/>
                <property name="username" value="root"/>
                <property name="password" value="admin13579"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--        <mapper  resource="com/example/demo/dao/HospitalMapper.xml"/>-->
        <!--        <mapper  class="com.example.demo.dao.HospitalMapper"/>-->
        <package name="com.example.demo.dao"/>
    </mappers>


</configuration>